﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

th {
    text-align:center !important
}

.table-top {
    margin-top: 30px !important
}
.table{
    text-align:center
}

.button-top{
    margin-top: 60px !important
}
.btn-return{
    margin-top : 20px;
    margin-bottom : 20px;
}

.page-footer a {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
    margin: 0 4px;
}

    .page-footer span{
        background-color: #337AB7;
        color: white;
        border-radius: 5px;
        padding: 4px 8px;
        margin: 0 4px;
    }


.text-width {
    word-break: break-all;
}

.myButton {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #5a7558;
    font-family: Arial;
    font-size: 12px;
    padding: 7px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color: #bab1ba;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }
.GUID{
    display:none
}